version: '3.8'
services:

  mongodb:
    image: mongo:7.0
    container_name: reactive-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: mongoReactive
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 6

  reactive-app:
    build: .
    container_name: reactive-webflux-app
    restart: always
    depends_on:
      mongodb:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/mongoReactive

volumes:
  mongo_data:
